<!doctype html>
<html>

<head>
  <title>Mastermind Game Login</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Tailwind Styling  -->
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />

  <link rel="icon" type="image/png" href="/public/css/style.css">
  <link rel="icon" type="image/png" href="https://cdn2.iconfinder.com/data/icons/medicine-22/64/playerOne.gif">
</head>

<body>
  <div class="">
    <div class="grid grid-cols-1 sm:grid-cols-2">
      <div class="h-screen">
        <section class="h-full bg-gray-50 dark:bg-gray-900">
          <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
            <a href="/" class="flex items-center mt-8 mb-6 text-2xl font-semibold text-gray-700 dark:text-white">
              <img class="w-20 h-20 mr-2 " src="https://img.freepik.com/free-vector/electric-cables-lightning-realistic-composition_1284-26544.jpg?size=626&ext=jpg&ga=GA1.1.553209589.1714953600&semt=sph" alt="logo">
              <div class="ml-2">
                MASTERMIND
              </div>
            </a>
            <div
              class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
              <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-700 md:text-2xl dark:text-white">
                  SIGN IN TO YOUR ACCOUNT
                </h1>
 
                <!-- ERROR ALERT MESSAGE -->
                <% if (locals.messages.errors) { %>
                  <% messages.errors.forEach( el => { %>
                      <div class="p-4 mb-4 text-sm text-yellow-800 rounded-lg bg-yellow-50 dark:bg-gray-800 dark:text-yellow-300"
                        role="alert">
                        <span class="font-medium">Error: </span>
                        <%= el.msg %>
                      </div>
                  <% }) %>    
                <% } %>

                <form class="space-y-4 md:space-y-6" action="/login" method="post">
                  <div>
                    <label for="email" class="block mb-2 text-sm font-medium text-gray-700 dark:text-white">
                      YOUR EMAIL
                    </label>
                    <input type="email" name="email" id="email"
                      class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                      placeholder="name@company.com" required="">
                  </div>
                  <div>
                    <label for="password" class="block mb-2 text-sm font-medium text-gray-700 dark:text-white">
                      PASSWORD
                    </label>
                    <input type="password" name="password" id="password" placeholder="••••••••"
                      class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                      required="">
                  </div>
                  <div class="flex items-center justify-between">
                    <div class="flex items-start">
                      <div class="flex items-center h-5">
                        <input id="remember" aria-describedby="remember" type="checkbox"
                          class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-primary-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-primary-600 dark:ring-offset-gray-800"
                          required="">
                      </div>
                      <div class="ml-3 text-sm">
                        <label for="remember" class="text-gray-500 dark:text-gray-300">
                          REMEMBER ME
                        </label>
                      </div>
                    </div>
                  </div>
                  <button type="submit"
                    class="text-white bg-gradient-to-r from-cyan-400 via-cyan-500 to-cyan-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
                    LOG IN BUTTON
                  </button>
                  <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                    Don't Have A Account Yet <a href="/signup"
                        class="font-medium text-primary-600 hover:underline dark:text-primary-500">
                        SIGN UP HERE
                      </a>
                  </p>
                </form>
              </div>
            </div>
          </div>
        </section>
      </div>

      <div class="hidden sm:block h-screen w-full">
        <div>
          <img src="https://media.istockphoto.com/id/1406981740/vector/circuit-connect-lines-and-dots-network-technology-and-connection-concept-decentralized.jpg?b=1&s=170667a&w=0&k=20&c=n9lhFok1kwgOTOp-YHg6g_h3fVZvhlzqUwLzEZdKnRY=" alt="Animated Image" class="w-full h-screen">
        </div>
      </div>
    </div>
  </div>

  <!-- Tailwind Styling  -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>

</body>

</html>
